.results{

  h2{
    padding:2em;
    margin:0;
    color:#444;
    font-size:1.2em;
  }

  ul{
    margin:0;
    padding:0;

    li{
      list-style-type: none;
      border-top:1px solid #eee;
      clear:left;
      position: relative;

      img{
        float:left;
        width:74px;
        height:74px;
      }

      .info{

        float: left;

        h3{
          margin:0;
          font-size:1.4em;
          padding:0.4em;
        }

        .rating{
          position: absolute;
          top:0;
          right:0;
          padding:0.5em;
          font-size: 1.2em;
          font-weight: bold;
          text-align: right;
          border-bottom-left-radius: 4px;
        }

      }

      .clear{
        clear: both;
      }

    }
  }

}
